* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --azul: #2B75E2;
    --branco: #ffff;
    --dark: #1668e0;
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.8rem;
    color: var(--branco);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

a:active,
a:hover {
    text-decoration: none;
    background-color: var(--dark);
    font-size: 1.8rem;
    color: var(--branco);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-image: url(./Imagens/banner.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-shadow: 0.2rem 0.2rem 0.3rem black;
    color: var(--branco);
    padding: 3rem;
}

header div ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--azul);
    padding: 1rem;
}

header div ul li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    width: 100%;
}

main{
    margin: 1.5rem;
    height: 40rem;
}



footer {
    
    bottom: 0%;
    background-color: var(--azul);
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
}

footer h3 {
    font-size: 2rem;
    color: var(--branco);
    padding: 1rem;
}