*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

header{
    background-image: url(./Imagens/banner.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1{
    text-shadow: 0.2rem 0.2rem 0.3rem black;
    color: white;
    padding: 3rem;
}

header div ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2B75E2;
    padding: 1rem;
}

header div ul li{
    font-size: 1.5rem;
    color: white;
}

header div{
    width: 100%;
}

main{
    margin: 1rem;
}

main ol{
    margin: 1rem;
    list-style-type: upper-roman;
}